.widgets {
    background-color: white;
    padding: 10px 6px; 
}
.row {
    margin-bottom: 8px;
}
.widget {
    min-width: 120px;
    cursor: move;
    
    &:hover {
        transform: scale(1.05);
    }
}

/* Styling for the section heading */
.section-heading {
    font-size: 20px; 
    text-align: center;
    color: #474747; 
    margin-top: 20px; 
    margin-bottom: 10px; 
  }
  