<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Add Fields</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Field Options</a>
    </li>
    <!-- Add more tabs here -->
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <h5>Standard Fields</h5>
        <div class="widgets">
            <div class="row">
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="freetext" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Text Field</button>
                </div>
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="multichoice" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Multiple Choice</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="email" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Email</button>
                </div>
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="radio" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Radio Button</button>
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <div class="dropdown">
            Edit Fields
            <a class="text-black dropdown-arrow" data-toggle="collapse" href="#edit_widget_container_dropdown"><i class="fa-solid fa-chevron-right"></i></a> 
            <div class="edit_widget_container_dropdown collapse" id="edit_widget_container_dropdown">
              
              <!-- General settings -->
              <p class="font-weight-light">General</p>
              <div class="enclose">
                <label for="labelInput">Label:</label>
                <input type="text" class="widgetLabel">
            
                <label for="descriptionInput">Description:</label>
                <textarea class="form-control" id="desc" rows="3"></textarea>
              </div>

              <!-- Smart Logic -->

              <p class="font-weight-light">Smart Logic</p>
              <div class="enclose">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault" style="padding-bottom: 10px;">Enable smart logic</label>
                </div>
                <select>
                  <option>Show</option>
                  <option>Hide</option>
                </select>
                <i style="padding-left: 10px;">this field if</i>
              <!-- Make conditional selection here -->
              <select class="widgetLabelSelect" [(ngModel)]="selectedValue1" (change)="onFirstSelectChange()">
              <ng-container *ngFor="let widget of items" >
                    <option [value]="widget.id" *ngIf="widget.isConditional">{{widget.type.templateOptions.label}}</option>
                </ng-container>
              </select> 
                 is
                <select class="second-select" [(ngModel)]="selectedValue2" >
                    <option *ngFor="let option of secondSelectOptions" [value]="option.value">{{ option.label }}</option>
                </select>

                <!-- Second logic -->
            </div>
            </div>
        </div>
    </div>
    <!-- Add more tab content here -->
  </div>
  