.widgets {
    background-color: white;
    padding: 10px 6px; 
}
.row {
    margin-bottom: 8px;
}
.widget {
    min-width: 120px;
    cursor: move;
    
    &:hover {
        transform: scale(1.05);
    }
}