<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Add Fields</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Field Options</a>
    </li>
    <!-- Add more tabs here -->
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <h5>Standard Fields</h5>
        <div class="widgets">
            <div class="row">
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="freetext" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Text Field</button>
                </div>
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="multichoice" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Multiple Choice</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="email" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Email</button>
                </div>
                <div class="col-md-6">
                <button class="btn btn-primary btn-block widget" id="radio" style="font-size:smaller;" draggable="true" (dragstart)="onDragStart($event)">Radio Button</button>
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <div class="dropdown">
            Edit Fields
            <a class="text-black dropdown-arrow" href="#"><i class="fa-solid fa-chevron-right"></i></a>
            <div class="edit_widget_container_dropdown" id="edit_widget_container_dropdown">
                <label for="labelInput">Label:</label>
                <input type="text">
            
                <label for="descriptionInput">Description:</label>
                <input type="text">
            </div>
        </div>
    </div>
    <!-- Add more tab content here -->
  </div>
  