<div class="dropdown">
    Edit Fields 
    <div class="edit_widget_container_dropdown" id="edit_widget_container_dropdown">
      
      <!-- General settings -->
      <p class="font-weight-light">General</p>
      <div class="enclose">
        <form [formGroup]="generalSettingsForm">
          <label for="labelInput">Label:</label>
          
          <input *ngIf="generalSettingsForm" type="text" formControlName="widgetLabel" class="widgetLabel">
          <div *ngIf="generalSettingsForm?.get('widgetLabel')?.hasError('required') && generalSettingsForm?.get('widgetLabel')?.touched" class="error-message">
            Input value is required.
          </div>
    
        <label for="descriptionInput">Description:</label>
        <textarea *ngIf="generalSettingsForm" formControlName="widgetDesc" class="form-control" id="desc" rows="3"></textarea>
      </form>
      </div>

      <!-- Smart Logic -->

      <p class="font-weight-light">Smart Logic</p>

      <div class="enclose">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="enableSmartLogic">
          <label class="form-check-label" for="flexSwitchCheckDefault" style="padding-bottom: 10px;">Enable smart logic</label>
        </div>
        <div *ngIf="enableSmartLogic">
          <select>
            <option>Show</option>
            <option>Hide</option>
          </select>
          <i style="padding-left: 10px;">this field if</i><br>
        <!-- Make conditional selection here -->
        <select class="select-label" [(ngModel)]="selectedLabelId" (change)="onSelectLabelChange()">
          <option value="">Select an option</option> 
          <ng-container *ngFor="let widget of items">
              <option [value]="widget.id" *ngIf="widget.props.isConditional && widget.id != activeWidgetId">{{widget.props.label}}</option>
          </ng-container>
        </select> 
           is
          <select class="select-option" [(ngModel)]="selectedOptionId" (change)="onSelectOptionChange()">
              <option *ngFor="let option of secondSelectOptions" [value]="option.value">{{ option.label }}</option>
          </select>
  
          <!-- Second logic -->
        </div>
    </div>
    </div>
</div>
