
.dropdown {
    padding: 5px;
}

.edit_widget_container_dropdown {
    min-width: 200px;
    padding: 0px 10px ;

    .labelInput {
        font-weight: bold;
    }

    .font-weight-light {
        color: #7d7c7c;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .enclose {
        background-color: #f9f9f9;
        padding: 12px;
        border-radius: 7px;

        .widgetLabel {
            min-width: 100%;
        }

        .select-label, .select-option {
            margin: 10px 0px;
            min-width: 100px;

        }

    }
    .btn, .btn-primary {
        margin: 10px !important;
    }
}