.card {
  padding-bottom: 6px;
  margin: 4px;

  button {
    float: right !important;
    border: none;
  }
  
  .innerDiv {
    padding: 10px;

    .widget-label, .option-label {
      padding-left: 5px;
    }
  }
}
