<div class="form-builder-container">
<!-- <div class="config-navbar">
    {% include 'formbuilder/config_navbar.html' %}
</div>-->
<div class="widgets-toolbox">
  <app-widgets-toolbox></app-widgets-toolbox>
</div>
<div class="builder-canvas-background">
  <h3 style="text-align: center;">Sales Form</h3>
  <mat-toolbar class="bootstrap-toolbar">
    
    <ng-container *ngIf="items.length">
      <button
        [disabled]="items.length < 1"
        mat-raised-button
        color="primary"
        class="btn btn-primary"
        (click)="showPreview(items)"
        style="display: flex; align-items: center; justify-content: center;"
      >
        <mat-icon style="margin-right: 5px;"> visibility </mat-icon>
        Form preview
      </button>
    </ng-container>
  </mat-toolbar>
  <div class="dropzone" id="canvas" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <form id="salesform">
      <app-drop-zone [items]="items">
      </app-drop-zone>
    </form>
  </div>
  </div>
</div>